@import 'variables';
@mixin toolBarMixin {
  height: $toolBarHeight;
  background:$toolBarBackground;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 5px gray;

}

@mixin toolBarBtn{
  background-color: $toolBarBackground;
  margin: 7.5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}