.modalCanvas{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  &__block{
    width: 400px;
    height: 250px;
    border: 1px solid;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title{
      padding: 0 0 15px 0;
      font-size: 20px;
      cursor: pointer;
    }

    &-valid{
      color: red;
      font-size: 18px;
    }

    .my-btn{
      margin: 20px 0 0 0;
      font-size: 20px;
      cursor: pointer;
    }

    .my-input{
      height: 26px;
      width: 280px;
      font-size: 28px;
      cursor: pointer;
    }

  }

}