@import "./variables";
@import "mixin";
.toolBar{
 @include toolBarMixin();
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left{
    margin: 0 0 0 21px;
    display: flex;
    align-items: center;
    &-btn{
      @include toolBarBtn


    }
  }
  &__right{
    margin: 0 21px 0 0;
    &-btn{
      @include toolBarBtn
    }
  }


}

.settingBar{
  margin: 5px 0 0 0;
  padding: 0 0 0 21px;
  @include toolBarMixin();
}